{% load static %}

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}"/>
    </head>

    <body style="background-color: dimgray;margin:0;padding:0">
        {% include "navbar.html" %}

        <div class="post_container">

            {% for post in posts %}
                <div class="post_tag">

                    <div class="author_info"> 
                        <img src="{{post.author.picture.url}}" alt="user_image">
                        {{post.author.forum_user}}- post: {{post.id}} 
                    </div>

                    <div> 
                        {{post.body}} 
                    </div>
                    
                    <div> 
                        {{post.link}} 
                    </div>

                </div>
            {% endfor %}
        </div>

    </body>

</html>